.container {
  display: flex;
  /*flex-direction: row-reverse; 子要素の並び向き*/
  /*flex-wrap: wrap; 子要素の折り返し*/
  /*justify-content: flex-end; 子要素の水平方向の配置*/
  /*align-items: center; 子要素の垂直方向の配置
  height: 100vh;*/
  flex-wrap: wrap;
  align-content: space-between;
  height: 300px;
}

.item {
  background:  #0bd;
  color: #fff;
  margin: 10px;
  padding: 10px;
}